.about-Paragraph{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
paragraph-Div{
    margin-top: 200px;
   
}

tech-Card{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}