.card{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: black;
    
}
paragraph-Div{
    margin-top: 200px;
   
}



