.footer-h1{
    color: lightseagreen;
    text-align: left;
    margin: auto;
  }
  
  .footer-div{
    box-shadow: inset;
    margin: auto;
    width: 100%;
    border: 3px solid;
    border-color: aliceblue;
    background-color: cadetblue;
    padding: 10px;
    
    
  }
  .footer-links{
    font-size: medium;
    text-align: left;

  }
 