.footer-h1{
    color: lightseagreen;
    text-align: left;
    margin: auto;
  }
  
  .footer-div{
    box-shadow: inset;
    margin: auto;
    width: 100%;
    border: 3px solid; 
    color:goldenrod;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-links{
    font-size: medium;

  }
 